html, 
body {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    background-color:#F88379;
    font-family: 'Press Start 2P';
}

body {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "left nav right"
        "left profile right"
        "left slogan right";
}

.profile {
    grid-area: profile;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: white solid;
    border-radius: 10%;
    padding: 10px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.nav {
    background-color: black;
    grid-area: nav;
    width: 100%;
    height: 60%;
    border: white solid;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 1.5em;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "home about contact";
}

.nav > a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background 0.2s ease-in;
    font-size: 1em;
    line-height: 2.0;
}

.nav > a:hover {
    color: black;
    background-color: white;
}

.home {
    grid-area: home;
}

.about {
    grid-area: about;
}

.contact {
    grid-area: contact;
}

.background-img {
    position: absolute;
    opacity: 0.3;
    height: 300px;
    width: 600px;
}

.container {
    z-index: 1;
    display: grid;
    height:100%;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "propic status status"
        "desc desc desc"
        "desc desc desc";
}

.propic {
    grid-area: propic;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-right: white solid; 
}

.status {
    grid-area: status;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    grid-area: desc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 1.2em;
    border-top: white solid;
    color: white;
    line-height: 1.5;
    
}