body, html {
    height: 100vh;
}
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: 'Press Start 2P';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "title"
        "middle"
        "bottom";
}

.title {
    grid-area: title;
    color:white;
    font-size: 4em;
    animation-name: fadein;
    animation-duration: 1s;
    padding: 0px;
    margin: 0px;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.middle {
    grid-area: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name:fadein;
    animation-duration: 2s;
}

.bottom {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    background-color: black;
    color: white;
    font-size: 2em;
    letter-spacing: 0.1em;
    animation-name:fadein;
    animation-duration: 3s;
    border: white solid medium;
    padding:20px;
    border-radius:30px;
    transition: background 0.2s ease-in;
    text-decoration:none;
}

a:hover {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 30px;
}

@keyframes fadein {
    0%{opacity:0;}
    56%{opacity:0;}
    100%{opacity:1;}
}