html, 
body {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    background-color:#F88379;
    font-family: 'Press Start 2P';
}

body {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "left nav right"
        "left profile right"
        "left slogan right";
}
.profile {
    grid-area: profile;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: white solid;
    border-radius: 10%;
    padding: 30px;
}

.slogan {
    grid-area: slogan;
    text-align: center;
    font-size: 2em;
    color: white;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.7);
    margin: 100px;
    padding: 20px;
    line-height: 2.0;
    transition: background 0.2s ease-in;
}

.slogan:hover {
    background-color: white;
    color: black;
}
.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.nav {
    background-color: black;
    grid-area: nav;
    width: 100%;
    height: 60%;
    border: white solid;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 1.5em;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "home about contact";
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 30px;
    transition: background 0.2s ease-in;
}

a:hover {
    background-color: white;
    color: black;
}

.home {
    grid-area: home;
}

.about {
    grid-area: about;
}

.contact {
    grid-area: contact;
}

.pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: white solid;
    z-index: 1;
}

.background-img {
    position: absolute;
    opacity: 0.3;
    height: 300px;
    width: 600px;
}


